[tool.poetry]
name = "python-lint"
version = "0.2.1"
description = ""
authors = ["Steve Dignam <steve@dignam.xyz>"]

[tool.poetry.dependencies]
python = ">=3.6"

[tool.poetry.dev-dependencies]
black = "^18.3-alpha.0"
mypy = "^0.650.0"
flake8 = "^3.6"
setuptools = "^40.6"
wheel = "^0.32.3"
twine = "^1.12"
pytest-watch = "^4.2"
pytest = "^4.0"
ipython = "^7.2"
